:root {
    --buttons: color rgb(52, 169, 155);
    --text-white: color white;
    --text-black: color black;
    --container: color rgb(172, 200, 199);
}

body{
    font-family: sans-serif;
}

h3 {
    display: flex;

}